@import 'variables';

.login {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__registration {
    background-color: transparent;
    border: none;
    margin-right: 40px;
    padding: 16px 12px;
    font-family: 'FuturaPTBook';
    font-size: 16px;
    color: #868b91;
    cursor: pointer;
  }

  &__registration:hover {
    margin-top: 3px;
    border-bottom: 3px solid #dddfe0;
    color: $third-grey;
  }

  &__login {
    background-color: #fff;
    border: 1px solid #e6e6e8;
    border-radius: 5px;
    padding: 8px 25px;
    font-family: 'FuturaPTBook';
    font-size: 16px;
    color: $blue-dark;
    cursor: pointer;
    transition: ease .15s;
  }

  &__login:hover {
    background-color: rgba(226, 226, 226, .1);
    border-color:#85add4; 
  }
}

// .login {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: #fff;
//   border-radius: 5px;
//   width: 100%;
//   height: 100%;

//   &__title {
//     margin: 70px 0 31px;
//     line-height: 40px;
//     font-family: 'FuturaPTBold';
//     font-size: 40px;
//     color: $second-grey;
//   }
  
//   &__form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//   }

//   &__input {
//     box-sizing: border-box;
//     border-radius: 10px;
//     border: 1px solid #e6e6e6;
//     background-color: #f5f5f5;
//     margin-bottom: 10px;
//     padding-left: 15px;
//     width: 300px;
//     height: 46px;
//   }

//   &__input::placeholder {
//     font-family: 'FuturaPTBook';
//     font-size: 18px;
//     color: #a6a6a6;
//   }

//   &__button {
//     background-color: $button-color;
//     border: none;
//     border-radius: 25px;
//     margin-top: 10px;
//     padding: 15px 0;
//     width: 120px;
//     text-align: center;
//     text-decoration: none;
//     font-family: 'FuturaPTDemi';
//     font-size: 15px;
//     color: #fff;
//   }

//   &__button:hover {
//     box-shadow: 0 0 5px $button-color;
//     background-color: #2dbd17;
//   }

//   &__button-recovery {
//     background-color: transparent;
//     border: none;
//     margin: 10px 0 15px;
//     line-height: 28px;
//     text-decoration: underline;
//     font-family: 'FuturaPTBook';
//     font-size: 18px;
//     color: $first-grey;
//   }

//   &__button-recovery:hover {
//     text-decoration: none;
//   }
  
//   &__close-btn {
//     position: absolute;
//     background: transparent;
//     border: none;
//     top: -25px;
//     right: -25px;
//     cursor: pointer;
//     width: 20px;
//     height: 20px;
//   }

//   &__close-btn:before,
//   &__close-btn:after {
//     position: absolute;
//     top: 10px;
//     left: 0px;
//     background: #fff;
//     width: 14px;
//     height: 2px;
//     content: "";
//   }

//   &__close-btn:before {
//     transform: rotate(45deg);
//   }

//   &__close-btn:after {
//     transform: rotate(-45deg);
//   }

//   &__error {
//     margin: 15px 0;
//     font-size: 1.38rem;
//     text-align: center;
//     font-family: 'FuturaPTBook';
//     color: red;
//   }
// }

// @media (max-width: 830px) {
//   .login {
//     width: 470px;
//     height: auto;
//     left: calc(50% - 235px);
  
//     &__title {
//       margin: 35px 0 16px;
//       font-size: 24px;
//     }
    
//     &__input {
//       height: 40px;
//     }
    
//     &__button {
//       margin-top: 11px;
//     }
      
//     &__close-btn {
//       top: 15px;
//       right: 15px;
//       width: 22px;
//       height: 22px;
//     }
  
//     &__close-btn:before,
//     &__close-btn:after {
//       top: 10px;
//       left: 0;
//       background: #979797;
//       width: 18px;
//     }
//   }
// }

// @media (max-width: 500px) {
//   .login {
//     width: 90vw;
//     top: calc(50% - 185px);
//     left: calc(50% - 90vw * .5);
      
//     &__input {
//       width: 68vw;
//     }
//   }
// }