@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px auto;
  width: 100%;
  max-width: 1300px;

  &__participate {
    transition: ease .15s;
    background-color: $button-color;
    border-radius: 8px;
    border: none;
    margin-left: 80px;
    width: 290px;
    height: 70px;
    font-family: 'FuturaPTBook';
    font-size: 30px;
    color: $third-grey;
    cursor: pointer;
  }

  &__participate:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 2px rgba(255, 196, 4, 0.9);
  }

  &__participate--about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
}