@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px auto;
  width: 100%;
  max-width: 1300px;

  &__participate {
    transition: ease .15s;
    background-color: $button-color;
    border-radius: 8px;
    border: none;
    margin-left: 80px;
    width: 290px;
    height: 70px;
    font-family: 'FuturaPTBook';
    font-size: 30px;
    color: $third-grey;
    cursor: pointer;
  }

  &__participate:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 2px rgba(255, 196, 4, 0.9);
  }

  &__participate--about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
}

// .main {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: #fff;

//   &__container {
//     display: flex;
//     flex-direction: column;
//     margin: 0 auto;
//     padding: 0;
//     width: calc(100% - 30px);
//     max-width: 1000px;
//   }

//   &__container-news {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     background-color: #f2f2f2;
//     margin: 0;
//     width: 100%;
//   }

//   &__title {
//     align-self: center;
//     margin: 4rem 0 0;
//     padding: 0;
//     width: calc(100vw - 30px);
//     text-transform: uppercase;
//     text-align: center;
//     font-family: 'FuturaPTBold';
//     font-size: 2.5rem;
//   }

//   &__title--brown {
//     color: #895f28;
//   }

//   &__title--marine {
//     margin-top: 0;
//     color: #1f8297;
//   }

//   &__title--grey {
//     margin-top: 3.7rem;
//     color: $second-grey;
//   }

//   &__title--text-page {
//     margin: 2.7rem 0 .7rem;
//     color: $second-grey;
//   }

//   &__subtitle {
//     margin: -5px 0 0 0;
//     padding: 0 0 3px;
//     text-align: center;
//     font-size: 1.38rem;
//     font-family: 'FuturaPTBook';
//     color: $first-grey;
//   }

//   &__subtitle--goals {
//     margin: -10px 0 27px 0;
//     font-size: 20px;
//   }

//   &__clouds {
//     background-image: url(../img/index/clouds.png);
//     background-repeat: repeat;
//     background-size: auto;
//     margin-bottom: 35px;
//     padding: 0;
//     width: 100%;
//     height: 40px;
//   }

//   &__text-block {
//     margin-bottom: 50px;
//     padding: 0 15px;
//     max-width: 1000px;
//     width: calc(100% - 30px);
//   }

//   &__text p {
//     margin: 10px 0;
//     font-family: 'FuturaPTBook';
//     font-size: 1.25rem;
//     line-height: 1.75rem;
//   }

//   &__profile {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin: 30px 0 100px;
//     padding: 0 15px;
//     max-width: 1000px;
//     width: calc(100vw - 30px);
//   }

//   &__payment {
//     display: flex;
//     justify-content: center;
//     margin: 0 0 100px;
//     padding: 0;
//   }

//   &__goals-block {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 0 15px;
//     width: calc(100% - 30px);
//     max-width: 1000px;
//   }

//   &__goals-status {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     max-width: 1000px;
//   }

//   &__goals-status-item {
//     margin-bottom: 10px;
//     padding: 0 15px;
//     width: calc(100% - 30px);
//     text-align: center;
//   }

//   &__goals-status-item--not-paid,
//   &__goals-status-item--not-reg {
//     background-color: #ffe5e5;
//   }

//   &__goals-status-item--little-money {
//     background-color: #e5eeff;
//   }

//   &__goals-status-item--good-balance {
//     background-color: #cdffcc;
//   }

//   &__goals-status-link {
//     border: none;
//     background-color: transparent;
//     margin: 0;
//     padding: 0;
//     cursor: pointer;
//     text-decoration: underline;
//     text-decoration-skip-ink: none;
//     color: inherit;
//     font-family: 'FuturaPTBook';
//     font-size: 20px;
//   }

//   &__goals-status-link:hover {
//     text-decoration: none;
//   }

//   &__goals-status-text {
//     margin: 9px auto 13px;
//     width: 100%;
//     max-width: 1000px;
//     line-height: 28px;
//     font-family: 'FuturaPTBook';
//     font-size: 20px;
//     color: $first-grey;
//   }

//   &__goals-status-text--description {
//     margin: 15px 0 9px;
//   }

//   &__goals-period {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     margin: 23px 0 57px;
//   }

//   &__goals-period-text {
//     width: calc(100vw - 30px);
//     max-width: 1000px;
//     text-align: center;
//     line-height: 28px;
//     font-family: 'FuturaPTBook';
//     font-size: 20px;
//     color: $first-grey;
//   }

//   &__goals-period-title {
//     margin-bottom: 6px;
//     text-align: center;
//     text-transform: uppercase;
//     font-family: 'FuturaPTDemi';
//     font-size: 18px;
//   }

//   &__goals-period-name {
//     font-family: 'FuturaPTBook';
//     font-size: 16px;
//     color: $first-grey;
//   }

//   &__goals-period-past-links-field {
//     display: flex;
//     justify-content: center;
//   }

//   &__goals-period-past {
//     margin: 12px 0 17px;
//   }

//   &__goals-period-past-item {
//     display: flex;
//     margin-left: 20px;
//   }

//   &__goals-period-name {
//     padding: 0 3px;
//   }

//   &__goals-period-name:hover {
//     text-decoration: none;
//   }
// }

// @media (max-width: 830px) {
//   .main {
//     &__container {
//       max-width: 100vw;
//     }

//     &__container:last-child {
//       padding-bottom: 11px;
//     }

//     &__title {
//       margin: 1.75rem 0 0;
//       font-size: 1.5rem;
//     }

//     &__container-news  {
//       padding-bottom: 24px;
//     }

//     &__subtitle {
//       margin: -.25rem 0 0 0;
//       padding: 0 0 5px;
//       line-height: 1.63rem;
//       font-size: 1rem;
//     }

//     &__subtitle--goals {
//       margin: 0 0 5px;
//     }

//     &__title--marine {
//     margin-top: 1rem;
//     }

//     &__title--grey {
//       margin-top: 2.75rem;
//     }

//     &__title--gray--mobile {
//       padding-top: 7px;
//     }

//     &__title--text-page {
//       margin: 38px 0 0;
//     }

//     &__text {
//       font-size: 1rem;
//       line-height: 1.45rem;
//     }
//     &__profile {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       margin: 10px 0 54px;
//       width: calc(100vw - 30px);
//     }

//     &__payment {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       margin: 10px 0 54px;
//       width: 100%;
//     }

//     &__goals-period-past-links-field {
//       flex-direction: column;
//       margin-top: 10px;
//     }

//     &__goals-period-past-item {
//       margin-left: 0;
//       margin-top: 8px;
//     }
  
//     &__goals-status-text,
//     &__goals-status-link {
//       margin: 0;
//       font-size: 16px;
//     }

//     &__goals-status-item {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       padding: 0 30px;
//       width: calc(100% - 60px);
//     }

//     &__goals-status-text {
//       padding: 0;
//       line-height: 21px;
//     }

//     &__goals-status-text--description {
//       margin-top: 15px;
//       line-height: 23px;
//     }

//     &__goals-status-item {
//       min-height: 50px;
//     }

//     &__goals-period {
//       margin-top: 0;
//     }

//     &__goals-period-title {
//       margin-top: 11px;
//     }

//     &__goals-period-past {
//       margin-top: 9px;
//     }

//     &__goals-period-text {
//       margin-top: 8px;
//       font-size: 16px;
//       line-height: 23px;
//     }
//   }
// }